body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr; /*1fr;*/
    grid-template-rows: auto;

    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    /*ackground: #f23557;*/
    /*color: #f0d43a;*/

    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


.holder{

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}


.interface_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#226cda;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 2px 4px 5px #444;
    transition: all 200ms ease-in;
}



button:hover{
    background: #13538a;
    color: #f0d43a;
}

h1{
    font-size: 36px;
}

textarea{
    background:#226cda;;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: block;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

@media (min-width: 30em) {
    #app{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 60em) {
    #app{
        grid-template-columns: 1fr 1fr;
    }
}
