
@import url("./nav_bar.css");
@import url("./footer.css");

html{
    font-family: system-ui;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 10px;
}

.post{
    max-width: 1240px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    /*align-contents: ;*/
}

.post > h1{
    font-size: 42px;
}

.post > p{
    font-size: 18px;
    line-height: 1.5;
}

.foot-col > p{
    color: #9CA3AF;
    /*font-style: italic;*/
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.post > .disclaimer{
    font-style: italic;
}

.post > img {
    margin: auto;
    width: 60%;
      /* crop picture to standard (max?) size */
      /* always use center crop */
}


@media (max-width: 30em) {
    .nav-logo > h1{
        display: None;
    }
    .post > h1{
        font-size: 18px;
    }
    .post > p{
        font-size: 12px;
    }
    .post > img {
        margin: auto;
        width: 100%;
          /* crop picture to standard (max?) size */
          /* always use center crop */
    }
}